* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}

.bgImage {
    background-image: url(./assets/coder.jpg) center/center;
}

h1, p {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    margin: auto;
    text-align: center;
    align-items: center;
}

i {
    text-align: center;
    margin-top: 1rem;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.3rem;
}
.cbox {
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid grey;
    font-size: 1rem;
    text-align: center;
    /* margin: auto; */
    margin-left: 0.5rem;
}

.label {
    vertical-align: middle;
    margin-right: 0.5rem;
}

.form {
    padding-top: 1rem;
    text-align: center;
}

.searchForm {
    padding: 1rem;
    min-width: 30rem;
    border: 1px solid grey;
}

.container {
    margin: auto;
    max-width: 75rem;
    text-align: center;
} 

.searchBox {
    width: 50%;
    padding: 0.4rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
}

/* Buttons */

.btn {
    margin: auto;
    margin-top: .5rem;
    text-transform: uppercase;
    display: inline-block;
    background: white;
    color: black;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    transition: ease-in 0.25s;
    background: rgb(10, 184, 39);
    color: white;
    border: 1px solid white;
}

.btn-block {
    text-align: center;
    width: 50%;
    display: block;
}

.alert {
    margin-bottom: 1rem;
    width: 50%;
    padding: 0.4rem;
    font-size: 1rem;
}

.alert-danger {
    color: red;
}