* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* GENERAL STYLE */

body {
  padding: 0;
  background: url('./assets/coder.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
}

textarea.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

  /* PROFILE */

  #profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.95);
  margin: 0 auto;
  margin-top: 10rem;
  width: 1200px;
  height: 500px;
  border-radius: 25px;

}

.profile-image {
  height: 500px;
  width: 400px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  max-width: 400px;
  max-height: 500px;
  object-fit: cover;
}

.profile-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 2rem;
  padding: 1rem 0;
  width: 800px;
  color: white;
  height: 100%;
}

.profile-information-name {
  font-size: 3rem;
}

.profile-information-location {
  font-size: 2rem;
}

.profile-information-email {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.profile-information-presentation {
  margin-top: 3rem;
  font-size: 1.5rem;
}
.profile-information-employer {
  font-size: 2rem;
}

.profile-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem;
  width: 150px;
  height: 100%;
}

.profile-icons-git.a {
  color: #F1C40F;
  cursor: pointer;
}

.fab.fa-github {
  height: 100%;
  color: #F1C40F;
  cursor: pointer;
}

.profile-icons-website.a {
  color: #1B4F72;
  cursor: pointer;
}

.fab.fa-chrome {
  color: #1B4F72;
  cursor: pointer;
}

.profile-icons-available {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 62px;
  height: 64px;
  border-radius: 100%;
  background-color: green;
  cursor: 'pointer';
}

.fas.fa-briefcase.fa-3x {
  color: black;
  cursor: pointer;
}

h1,
p {
  font-family: 'Raleway', sans-serif;
}

.text-center {
  margin: auto;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h6 {
  font-size: 0.6rem;
}

p {
  font-size: 1.3rem;
}

a {
  color: #d7dbdd;
}

a:hover {
  color: #d7dbdd;
}

.form {
  padding-top: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  max-width: 75rem;
  text-align: center;
}

/* SEARCH BOX */

.search {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "a a"
  "b c";
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  // overflow: hidden;
  // width: 100%;
  // margin: auto;
  // text-align: center;
  // position: absolute;
  // top: 45%;
  // transform: translateY(-45%);
}

h3.search-heading {
  grid-area: a;
  justify-content: center;
  align-items: center;
  color: #F7F9F9;
  margin-bottom: 10rem;
  margin: 3rem auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
  font-size: 2rem

}
input.searchBox {
  grid-area: b;
  place-self: center center;
  justify-content: center;
  align-items: center;
  width: 680px;
  max-width: 800px;
  margin-right: 1.5rem;
  padding: 1.5rem;
  font-size: 1rem;
  outline: none;
}

input.btn {
  grid-area: c;
  text-transform: uppercase;
  background: white;
  color: black;
  cursor: pointer;
  outline: none;
  width: 200px;
  max-width: 800px;
  padding: 1.55rem;
  font-size: 1rem;
  border: none;
  // margin-left: 1rem;
}

input.btn:hover {
  transition: ease-in 0.2s;
  background: #212f3d;
  color: #d7dbdd;
}


[class*="devicon-"] {
  padding: 0 0.70rem;
}

.chooseCode {
  font-size: 0.8rem;
  margin: 0.8rem 0 0.4rem 0;
}

// SEARCH-BAR

.searchBar {
  position: relative;
  top: 130px;
  overflow: hidden;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f4f4;
  opacity: 0.9;
}

.sideBox {
  font-weight: bold;
  padding: 1.8rem 0.5rem;
  margin: auto;
  float: left;
  width: 130px;
  text-transform: uppercase;
  background-color: #e4e6e8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.logos {
  width: 100%;
}

.logoStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 0;
  width: 100%;
}

/* SEARCH ICONS*/

input[type='checkbox'] {
  position: relative;
  -webkit-appearance: none;
}

input[type='checkbox'] + label {
  border-bottom: 5px solid transparent;
}
input[type='checkbox']:checked + label {
  border-bottom: 5px solid #52be80;
}

.text-lg {
  font-size: 1.5rem;
  color: #566573;
}

.logoFontSize {
  margin: 0.4rem 0;
  font-size: 1rem;
}

// LOGO

.logo {
  width: 100%;
}
/* BUTTONS */

.backBtn {
  position: fixed;
  top: 8.5rem;
  left: 2rem;
  text-transform: uppercase;
  color: #d7dbdd;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  border: none;
  text-decoration: none;
  border-radius: 50%;
}

.backBtn:hover {
  transition: ease-in 0.2s;
  color: #d7dbdd;
  background-color: #212f3d;
  border-radius: 100%;
  border: none;
}

/* ALERT */

.alert {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 130px;
  width: 100%;
  padding: 1.5rem 0.5rem;
  opacity: 0.9;
  font-size: 1rem;
  background-color: red;
  color: white;
}

/* PROFILE */

.card {
  margin: 1.5rem;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #828b99 100%);
  opacity: 0.95;
  width: 300px;
  max-width: 300px;
  height: 400px;
  max-height: 400px;
  border-radius: 25px;
}

.card:last-of-type {
  margin-bottom: 12rem
}


.card-name {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem;
}

img.card-image {
  display: block;
  margin: 0.5rem auto;
  width: 225px;
  height: 225px;
  border: 10px double rgb(60, 60, 60);
  border-radius: 30px;
  object-fit: cover;

}

.card-profile {
  margin: 2.5rem auto;
  display: block;
  padding: 1rem 2rem;
  border-radius: 100px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.25rem;
  font-weight: bold;
  width: 225px;
  max-width: 225px;
  transition: all 0.15s ease-in;
  text-decoration: none;
}

.card-profile:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.card-profile:active {
  transform: scale(0.99);
}

.profileStyle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  // top: 8rem;
  // width: 100%;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 0.8rem;
}

.profileStyle:first-of-type {
  margin-top: 8rem;

}

.loginStyle {
  position: absolute;
  top: 6.4%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-shadow: 2px 2px 10px #d7dbdd;
  color: #282828;
  font-size: 1rem;
  background-color: #d7dbdd;
  padding: 0.5rem 0;
  opacity: 0.8;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sideCard {
  height: 35vh;
  border-radius: 10px;
  // overflow-y: scroll;
}

.hireable {
  margin-top: 4rem;
  width: 25%;
  border-radius: 40px;
  margin: auto;
  padding: 0.8rem 0;
  background-color: green;
  color: white;
  text-align: center;
  font-weight: bold;
}

.profileBtn {
  position: absolute;
  top: 350px;
  left: 310px;
  padding: 0.5rem 0.8rem;
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 50px;
  float: right;
}

.profileBtn:hover {
  transition: ease-in 0.2s;
  color: white;
  background: black;
  border: none;
}

// FOOTER

#footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  height: 75px;
  width: 100%;
  background: black;
  margin-top: 8rem;
}

.flags  {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 3rem;
  height: 100%;
}

// radio butons

.input-hidden {
  display: none;
}

input[type=radio] + label > img {
  width: 30px;
  cursor: pointer;
  transition: all 0.2s;
  margin-left: 10px;
}

input[type=radio]:checked + label > img {
  opacity: 0.5;
  width: 32px;
  pointer-events: none;
  cursor: not-allowed;
  border: green 3px solid;
  border-radius: 50%;
}

// MEDIA QUERIES

// Larger screens

@media (min-width: 2048px) {
  .profileBtn {
    top: 365px;
    left: 330px;
  }
  .sideBox {
    padding: 2.3rem 0.5rem;
  }
  .logoStyle {
    padding: 1.2rem 0;
  }

  .loginStyle {
    top: 4.1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

// Laptops

@media (max-width: 1920px) {
  .profileBtn {
    top: 300px;
    left: 300px;
  }

  .sideBox {
    padding: 1.7rem 0.5rem;
  }
  .loginStyle {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 86.6%;
  }
}

// Laptops 2

@media (max-width: 1792px) {
  .profileBtn {
    top: 325px;
    left: 310px;
  }
  .loginStyle {
    top: 4.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
  }
}

@media (max-width: 480px) {
  .card {
    scale: 0.5;
  }
  .logo {
    display: none;
  }
  .navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 0;
  }
  .search {
    margin-top: 8rem;
    grid-template-areas:
    "a"
    "b"
    "c";
  }

  input.searchBox {
    width: 350px;
    max-width: 450px;
    margin-right: 0;
  }

  input.btn {
    width: 350px;
    max-width: 450px;
    margin-top: 1rem;
  }
  textarea.searchBox {
    vertical-align: middle;
  }
}
