* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, p {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    margin: auto;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h3 {
cursor: pointer;
}

p {
    font-size: 1.3rem;
}


.form {
    padding-top: 1rem;
    text-align: center;
}

.searchForm {
    padding: 1rem;
    min-width: 30rem;
    border: 1px solid grey;
}

.container {
    margin: auto;
    max-width: 75rem;
    text-align: center;
}

.searchBox {
    width: 30%;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #ccc;
}

/* Buttons */

.btn {
    margin: auto;
    margin-top: .5rem;
    text-transform: uppercase;
    display: inline-block;
    background: white;
    color: black;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
    width: 15%;
    margin-left: .5rem;
}

.btn:hover {
    transition: ease-in 0.2s;
    background: rgb(10, 184, 39);
    color: white;
    border: 1px solid rgb(10, 184, 39);;
}

.alert {
    /* margin-bottom: 1rem; */
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    background-color: red;
    color: white;

}

.langCheck {
    height: 20vh;
    border-right: 1px solid #EAECEE;
    height: 5vw;
}

.frameCheck {
    height: 20vh;
}

.search {
    height: 10vh;
}

input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-appearance: none;
}

:checked + label {    
    border-bottom: 1.5px solid #52BE80;
}

.text-lg {
    font-size: 2rem;
}

.choiceChange {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    background-color: #F8F9F9;
    height: 5vw;
}

.logoFontSize {
    font-size: 1rem;
}