* {
    box-sizing: border-box;
    margin: 0;
}

$body:#282828;
$github:#212F3D;
$webpage:#007bb5;
$transition:all 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
%focus-it{
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-radius:0;
	opacity:.8;
	z-index:1;
	cursor:pointer;
	i{
		opacity:1;
		font-size:20vw;
		margin: 15vw 33vw;
	}
}

/* GENERAL STYLE */
body {
    padding: 0;
    background: url('./assets/coder.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow-Y: scroll;
    
    /* INDIVIDUAL PROFILE */

    .frame{
        position:relative;
        margin: auto;
		width:80vw;
		height: 100%;
		.picture{
            margin-top: 10rem;
            height:50vh;
            background-color: black;
			z-index:0;
            border-radius: 10px;
            opacity: .95;

        }
        img {
            vertical-align: middle;
            border-radius: 10px;
            height: 100%
        }
        .social{
			position:absolute;
			right:2vw;
			width:5vw;
			height:5vw;
			border-radius:50%;
			z-index:2;
			a{
				
				display:contents;
				i{
					color:white;
					margin:7px;
					opacity:0;
				}
			} 
			&.github{
				&:hover,&:focus{@extend %focus-it;}
				
            }
			&.webpage{

				&:hover,&:focus{@extend %focus-it;}
				
            }
        }
        
	}
}

h1, p {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    margin: auto;
    text-align: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h6 {
    font-size: .6rem;
}

p {
    font-size: 1.3rem;
}

a {
    color: #D7DBDD;
}

a:hover {
    color: #D7DBDD;    
}

.form {
    padding-top: 1rem;
    text-align: center;
}

.container {
    margin: auto;
    max-width: 75rem;
    text-align: center;
}

/* SEARCH BOX */

.search {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
}

.searchBox {
    width: 40%;
    padding: 1.5rem;
    font-size: 1rem;
    outline: none;
}

// SEARCH-BAR

.searchBar {
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 120px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    height: 7.5vh;
    background-color: #F2F4F4;
    opacity: .9;
}

.sideBox {
    font-weight: bold;
    padding: 1.8rem .5rem;
    margin: auto;
    float: left;
    width: 130px;
    text-transform: uppercase;
    background-color: #E4E6E8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logoStyle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: .6rem 0;
    width: 80%;
    margin: auto;
}

/* SEARCH ICONS*/

input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
}

label {
    border-bottom: 3px solid transparent;
}
:checked + label {
    border-bottom: 3px solid #52BE80;
}

.text-lg {
    font-size: 2rem;
    color: #566573;
}

.logoFontSize {
    margin: .3rem 0;
    font-size: 1rem;
}

/* BUTTONS */

.btn {
    text-transform: uppercase;
    background: white;
    color: black;
    cursor: pointer;
    outline: none;
    width: 10%;
    margin-left: .5rem;
    padding: 1.6rem;
    font-size: 1rem;
    border: none;
}

.btn:hover {
    transition: ease-in 0.2s;
    background: #212F3D;
    color: #D7DBDD;
}

.backBtn {
    position: fixed;
    top: 8rem;
    left: 2rem;
    text-transform: uppercase;
    color: #D7DBDD;
    font-size: 3rem;
    cursor: pointer;
    outline: none;
    border: none;
    text-decoration: none;
    border-radius: 50%;
}

.backBtn:hover {
    transition: ease-in 0.2s;
    color: #D7DBDD;
    background-color: #212F3D;
    border-radius: 100%;
    border: none;
}

/* ALERT */

.alert {
    position: relative;
    top: 120px;
    width: 100%;
    padding: 1.5rem 0.5rem;
    opacity: 0.9;
    font-size: 1rem;
    background-color: red;
    color: white;
}

/* PROFILE */

.card {
    position: relative;
    height: auto;
    margin-top: 1rem;
    
}
.loginStyle {
    position: absolute;
    top: 6.4%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-shadow: 2px 2px 10px #D7DBDD;
    color: #282828; 
    font-size: 2rem; 
    background-color: #D7DBDD;
    padding: .5rem 0;
    opacity: .8;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sideCard {
    height: 35vh; 
    border-radius: 10px;
    // overflow-y: scroll;
}

.hireable {
    margin-top: 4rem;
    width: 25%;
    border-radius: 40px;
    margin: auto;
    padding: .8rem 0;
    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
}


.profileBtn {
    position: absolute;
    top: 350px;
    left: 310px;
    padding: .5rem .8rem;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: white;
    color: black;
    border-radius: 50px;
    float: right;
}

.profileBtn:hover {
    transition: ease-in 0.2s;
    color:  white;
    background: black;
    border: none;
}

// MEDIA QUERIES 

@media (min-width: 1920px) and (max-width: 2047px) {
    .profileBtn {
        top: 305px;
        left: 290px;
    }
    .loginStyle {
        top: 7.6%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 89%;
    }

}

@media (min-width: 2048px) {
    .profileBtn {
        top: 370px;
        left: 335px;
    }
    .sideBox {
        padding: 2.1rem .5rem;
    
    }
    .logoStyle {
        padding: 1.2rem 0;
    }
    
}
